#root {
    max-width: 100%; 
    margin: 0 auto; 
    padding: 2rem; 
    text-align: center; 
    color: #212121; 
    background-color: #fffafc; 
    font-family: 'Caveat', 'DFKai-SB', '標楷體', 'serif'; 
}

.container1 {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    gap: 1rem; 
    background-color: rgba(255, 240, 245, 0.8); 
    padding: 2rem; 
    border-radius: 1rem; 
    box-shadow: 0 4px 10px rgba(255, 182, 193, 0.3); 
    width: 70%; 
    margin: auto; 
}

input[type="text"], input[type="email"] {
    padding: 0.5rem; 
    margin: 0.5rem 0; 
    border: 1px solid #ffb6c1; 
    border-radius: 0.5rem; 
    font-family: 'Caveat', 'DFKai-SB', '標楷體', 'serif'; 
    width: 90%; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    transition: border 0.3s, box-shadow 0.3s; 
    text-align: left; 
}

input[type="text"]:focus, input[type="email"]:focus {
    border-color: #d87093; 
    box-shadow: 0 4px 10px rgba(255, 182, 193, 0.3); 
    width: 400%; 
    margin: auto;
}

input[type="text"], input[type="email"] {
    padding: 0.5rem;
    margin: 0.5rem 0;
    border: 1px solid #ffb6c1; 
    border-radius: 0.5rem; 
    font-family: 'Caveat', 'DFKai-SB', '標楷體', 'serif'; 
    width: 90%; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    transition: border 0.3s, box-shadow 0.3s;
    text-align: left; 
}

input[type="text"]:focus, input[type="email"]:focus {
    border-color: #d87093; 
    box-shadow: 0 4px 10px rgba(255, 182, 193, 0.4); 
    outline: none;
}

button {
    font-size: 1.1rem; 
    font-weight: bold; 
    padding: 0.5rem 1.5rem;
    background-color: #ffb6c1; 
    color: #FFF;
    border: none;
    border-radius: 1rem; 
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    font-family: 'Caveat', 'DFKai-SB', '標楷體', 'serif'; 
    text-decoration: none; 
    box-shadow: 0 4px 10px rgba(255, 182, 193, 0.3); 
    margin: 1rem 0; 
    width: 60%; 
}

button:hover {
    background-color: #d87093; 
    transform: translateY(-3px);
}

.return {
    font-size: 1.1rem; 
    font-weight: bold; 
    padding: 0.5rem 1.5rem;
    background-color: #ffb6c1; 
    color: #FFF;
    border: none;
    border-radius: 1rem; 
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    font-family: 'Caveat', 'DFKai-SB', '標楷體', 'serif'; 
    text-decoration: none; 
    box-shadow: 0 4px 10px rgba(255, 182, 193, 0.3); 
    margin: 1rem 0; 
    width: 60%;
    display: inline-block;
    text-align: center;
}

.return:hover {
    background-color: #d87093; 
    transform: translateY(-3px);
}
