#root {
  max-width: 100%; 
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  color: #212121;
  background-image: url("pink.jpg");
  background-repeat: no-repeat;
  font-family: 'DFKai-SB', '標楷體', 'serif'; 
}

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

.container .student {
  border: solid 2px #ffb6c1; 
  border-radius: .5rem;
  width: 15rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1% 2%;
  background-color: #fff0f5; 
  box-shadow: 0 4px 10px rgba(255, 182, 193, 0.3); 
  transition: transform 0.2s, box-shadow 0.2s;
  text-align: left; 
}

.container .student:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(255, 182, 193, 0.5); 
}

.container .student h1 {
  font-size: 1.5rem; 
  color: #d87093; 
  margin: 0;
  font-family: 'DFKai-SB', '標楷體', 'serif'; 
}

.container .student p {
  font-size: 1.1rem; 
  color: #c71585; 
  margin: 0;
  display: flex;
  justify-content: flex-start;
  font-family: 'DFKai-SB', '標楷體', 'serif'; 
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 2rem;
}

.button-container .button {
  font-size: 1.1rem; 
  font-weight: bold; 
  padding: 0.5rem 1.5rem;
  background-color: #ffb6c1; 
  color: #FFF;
  border: none;
  border-radius: 1rem; 
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  text-align: center;
  font-family: 'DFKai-SB', '標楷體', 'serif'; 
  text-decoration: none; 
  box-shadow: 0 4px 10px rgba(255, 182, 193, 0.3); 
}

.button-container .button:hover {
  background-color: #d87093; 
  transform: translateY(-3px);
}

.container1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-bottom: 2rem;
}

.container1 .element {
  background-color: #ffb6c1; 
  padding: 1rem 2rem;
  border-radius: 1rem; 
  color: #FFF;
  box-shadow: 0 4px 10px rgba(255, 182, 193, 0.3); 
  transition: background-color 0.3s, transform 0.3s;
  font-family: 'DFKai-SB', '標楷體', 'serif'; 
}

.container1 .element:hover {
  background-color: #d87093; 
  transform: translateY(-3px);
}
